{% extends 'base.html.twig' %}

{% block title %}Créer un compte - LuxWatch{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/register.css') }}">
{% endblock %}

{% block body %}
    <div class="register-container">
        <h1>Créer un compte</h1>
        
        {{ form_start(registrationForm) }}
            <div class="form-row">
                <div class="form-group">
                    <label for="{{ registrationForm.firstName.vars.id }}">Prénom*</label>
                    {{ form_widget(registrationForm.firstName, {'attr': {'placeholder': 'Entrez votre prénom'}}) }}
                </div>

                <div class="form-group">
                    <label for="{{ registrationForm.lastName.vars.id }}">Nom*</label>
                    {{ form_widget(registrationForm.lastName, {'attr': {'placeholder': 'Entrez votre nom'}}) }}
                </div>
            </div>

            <div class="form-row">
                <div class="form-group">
                    <label for="{{ registrationForm.email.vars.id }}">Email*</label>
                    {{ form_widget(registrationForm.email, {'attr': {'placeholder': 'Entrez votre mail'}}) }}
                </div>

                <div class="form-group">
                    <label for="{{ registrationForm.userName.vars.id }}">Nom d'utilisateur*</label>
                    {{ form_widget(registrationForm.userName, {'attr': {'placeholder': 'Entrez votre nom d\'utilisateur'}}) }}
                </div>
            </div>

            <div class="password-section">
                <div class="form-group">
                    <label for="{{ registrationForm.plainPassword.first.vars.id }}">Mot de passe*</label>
                    {{ form_widget(registrationForm.plainPassword.first, {'attr': {'placeholder': 'Entrez votre mot de passe'}}) }}
                </div>

                <div class="form-group">
                    <label for="{{ registrationForm.plainPassword.second.vars.id }}">Confirmation mot de passe*</label>
                    {{ form_widget(registrationForm.plainPassword.second, {'attr': {'placeholder': 'Confirmer votre mot de passe'}}) }}
                </div>
            </div>

            <div class="form-group terms">
                {{ form_widget(registrationForm.agreeTerms) }}
                <label for="{{ registrationForm.agreeTerms.vars.id }}">J'accepte les conditions d'utilisations</label>
            </div>

            <button type="submit" class="btn-register">S'inscrire</button>

            <div class="login-link">
                <p>Déjà inscrit ? Cliquez <a href="{{ path('app_login') }}">ici</a> !</p>
            </div>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}